<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
<script id="brandqast-widget-script" widget-id="3" type="text/javascript" src="http://fast-crag-9968.herokuapp.com//assets/widgets/index.js"></script>
<div id="brandqast-widget">
	<div ng-view="" />
</div>
<script>
   angular.element(document).ready(function() {
   	var first = document.getElementById('brandqast-widget');
   
     angular.bootstrap(first, ['widget']);
   });
</script>
